# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.                                                       

[include filament_runout.cfg]

[include timelapse.cfg]

[include retraction.cfg]

[include presher_advance.cfg]
                                                       
[include macro.cfg]

[include mainsail.cfg]

[include inputshaper.cfg]

[include KAMP_Settings.cfg]     #adaptev mesh and other bits

[include Plotter.cfg]


#######################################
##    Maximum Printer Settings 
#######################################

[printer]
kinematics: cartesian

#max_velocity: 250
max_velocity: 300

#max_accel: 6000
max_accel: 7000

max_z_velocity: 5
max_z_accel: 100

###### SPEED BENCHY SETTINGS ######

#[printer]
#kinematics: cartesian
#max_velocity: 2000
#max_accel: 9000
#max_accel_to_decel: 6000
#square_corner_velocity: 6.0


[input_shaper]
#shaper_freq_x: 105.70 # frequency for the X mark of the test model
#shaper_freq_y: 108.60 # frequency for the Y mark of the test model

#######################################
##    Filament runout sensor
#######################################

#[filament_switch_sensor Filament_runout_sensor]
#pause_on_runout: True
#runout_gcode:
#  G91
 # G1 Z20 F900      # Raise Z away from print
 # G90
  #G1 X245 Y218.5 F5000 # Move to purge area
  #G91
  #G1 E-50 F600 # Retract 50mm of filament
  #G90
#insert_gcode:
  #G4 P10000 # Pause for 10 seconds
  #G1 E150 F400 # Prime the nozzle
#switch_pin: !PA4 # Pin that the sensor is connected to

##################################
##   Bltouch 
##################################

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -55 #-45.5
y_offset: -10 #-16
#z_offset: 3.150  #PETG
#z_offset: 3.000  #pla
# z_offset:1.35 #1.40

[safe_z_home]
home_xy_position: 110,110 # was 117.5,117.5         # Change coordinates to the center of your print bed
z_hop: 10                 # Move up 10mm z_hop_speed: 5
z_hop_speed: 15 #5

[bed_mesh]
speed: 200 #120
horizontal_move_z: 5
mesh_min: 15, 15 #5, 5
mesh_max: 180, 180 #188, 191 #200, 200
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1_name: Middle
screw1: 155,122.5
screw2: 70.5,37.5
screw2_name: front left screw
screw3: 235,37.5
screw3_name: front right screw
screw4: 235,207.5
screw4_name: rear right screw
screw5: 70.5,207.5
screw5_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

#################################
##     Stepper motors
#################################

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 100 #50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 100 #50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop #^PA7
#position_endstop: 0.0     # because bltouch was added
position_max: 250  
position_min: -5  # wasn't included in config # needed for z calibration 
homing_speed: 40  # wasn't included in config

[extruder]
max_extrude_only_distance: 400.0  # was 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 23.361674 #34.406
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
#sensor_type: Generic 3950 #EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 270 #250 #was ism 
max_extrude_cross_section: 5 #  HAD TO ADD FOR TO CONFIG FOR ADAPTEVE LINE_PURGE TO WORK
#pressure_advance: 0.024 #< red.6
#pressure_advance: 0.055 #red fillamen
#pressure_advance: 0.467 # green .6 noz
#pressure_advance: 0.0435 # white .6 noz
pressure_advance: 0.0387 # yellow .6 noz
min_extrude_temp: 0

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 20
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command



################################################################################################################################################################
################################################################################################################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.875
#*# pid_ki = 1.325
#*# pid_kd = 74.532
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.107500, 0.180000, 0.177500
#*# 	  0.115000, 0.147500, 0.222500
#*# 	  0.130000, 0.195000, 0.217500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 97.8
#*# max_x = 137.18
#*# min_y = 97.8
#*# max_y = 137.18
#*#
#*# [bltouch]
#*# z_offset = 2.560
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 61.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 39.4
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.968
#*# pid_ki = 1.837
#*# pid_kd = 764.678
